html,body{
  font-family: 'Microsoft YaHei';
  color:#333;
  background-color: #fff;
}
*{
  box-sizing: border-box;
  touch-action: pan-y;
}
html,body,#root,.App{
  height: 100%;
}
body{
  padding: 0px;
  margin: 0px;
}